<ion-header>

  <!-- <ion-navbar>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content class="page-login">
  <!-- <form (submit)="doLogin()">
    <ion-list>
  
      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>
  
      Want to use a Username instead of an Email? Here you go:
  
      <ion-item>
        <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>
  
      <div padding>
        <button ion-button color="primary" block>{{ 'LOGIN_BUTTON' | translate }}</button>
      </div>
  
    </ion-list>
  </form> -->
  <section class="w-section mobile-wrapper">
            <div class="page-content bg-gradient" id="main-stack" data-scroll="0">
              <div class="w-nav navbar transparent" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
                    <div class="w-container">
                        <div class="wrapper-mask" data-ix="menu-mask"></div>
                        <div class="navbar-title" text-lg>Login</div>
                    </div>
                </div>
                <div class="body padding">
                    <div class="logo-login"></div>
                    <div class="bottom-section padding">
                        <div class="w-form">
                            <form name="login-form" action="#" (submit)="doLogin()">
                                <div>
                                    <label class="label-form light" for="email-field">{{ 'EMAIL' | translate }}</label>
                                    <input class="w-input input-form light" id="email-field" type="email" name="email" placeholder="" [(ngModel)]="account.email" required="required" autocomplete="off">
                                    <div class="separator-fields"></div>
                                </div>
                                <div>
                                    <label class="label-form light" for="email">{{ 'PASSWORD' | translate }}</label>
                                    <div class="block-input-combined">
                                        <input class="w-input input-form light left" type="password" placeholder="" name="password" required="required" [(ngModel)]="account.password" autocomplete="off">
                                        <a class="right-input-link" href="#" data-load="1">Forgot Password</a>
                                    </div>
                                    <div class="separator-button-input"></div>
                                </div>
                                <button class="w-button action-button" type="submit">{{ 'LOGIN_BUTTON' | translate }}</button>
                                <div class="separator-button"></div>
                                <a class="link-upper" href="signup.html" data-load="1">
                                    Don't have an account? <strong class="b-link">Sign Up</strong>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="page-content loading-mask" id="new-stack">
                <div class="loading-icon">
                    <div class="navbar-button-icon icon ion-load-d"></div>
                </div>
            </div> -->
        </section>
</ion-content>
