.page-notify {
	background: #E8E9F3;
	overflow-x: hidden;
	.scroll-content{
		overflow-x: hidden !important;
		overflow-y: hidden !important;
	}

	.text-muted {
	  color: #8394a9;
	}
	.tline{
		font-weight: lighter;
	}
}

$primary: #151d31;

.border-right{
	border-right: 1px solid $primary;
}
.border-left{
	border-left: 1px solid $primary;
}
.bg-primary{
	background: #151d31;
}

.sections{
	height: 100vh;
	display: flex;
	flex-direction: column;
	width: 100vw;

	.top-sec{
		// flex: 9;
		flex: 0 0 280px;
		background: #151d31;
		color: white;
		//box-shadow: 1px 5px 18px 0px rgba(0,1,0,0.2) !important;
		/* Align all items in this box vertically and horizontally center */
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: center;

		.circle{
			top: 3px;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			font-weight: lighter;
			font-size: 2.3em;
			height: 130px;
			border-radius: 50%;
			width: 130px;
			box-shadow: 1px 6px 21px 4px rgba(0,1,0,0.18) !important;
			.sub-text{
				display: block;
				font-size: 0.5em;
				font-weight: lighter;
			}
		}
	}

	.task_wrapper{
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: center;
	}

	.task_section{
		background: #fff;
		padding: 2rem 2rem;
		position: relative;
		// float: left;
		width: 90%;
		border-radius: 3px;
		margin: -3rem 1% 0 0;
		box-shadow: 1px 5px 18px 0px rgba(0,1,0,0.2) !important;
		border-bottom: 2px solid #151d31;
		.task{
			word-spacing: 0.1px;
			font-size: 1.2em;
			align-items: center;
			font-weight: lighter;
		}
		.task-title{
			font-weight: lighter;
			font-size: 0.7em;
		}
	}

	.bottom-sec{
		flex: 12;
		background: #E8E9F3;
		overflow: scroll;
		overflow-x: hidden;
		.w-inline-block{		
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			box-shadow: 1px 5px 18px 0px rgba(0,1,0,0.2) !important;
		}
		.group-block{
			width: 100% !important;
			margin: 2%;
		}
		.group-tag{
			text-align: center;
			background: #151d31 !important;
			color: white;
			border-top-right-radius: 20px;
			border-top-left-radius: 20px;
			padding: 5px 0px  5px 15px;
			background: white
		}
		.group-title{
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
			height: inherit;
			padding: 10px;
		}
	}
}