<ion-header>
  <div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
      <div class="w-container">
          <div class="wrapper-mask" data-ix="menu-mask"></div>
          <div class="navbar-title">{{ pageTitle }}</div>
          <div class="w-nav-button navbar-button left" id="menu-button" data-ix="hide-navbar-icons" menuToggle>
              <div class="navbar-button-icon home-icon">
                  <div class="bar-home-icon top"></div>
                  <div class="bar-home-icon middle"></div>
                  <div class="bar-home-icon bottom"></div>
              </div>
          </div>
          <div class="w-nav-button navbar-button right" id="menu-button" data-ix="hide-navbar-icons">
              <ion-icon name="add" (click)="addBtn()"></ion-icon>
          </div>
      </div>
  </div>
</ion-header>


<ion-content class="page-notify">
	<!-- Mute Notifications FAB -->
	<ion-fab bottom right (click)="doMute()">
    <button ion-fab large>
    	<ion-icon name="ios-notifications-off-outline"></ion-icon>
    </button>
    <!-- <ion-fab-list>
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list> -->
  </ion-fab>
	
	<section class="sections">
		<div class="top-sec">
			<!-- developed by dhaveed -->
			<div class="circle">
				30&deg;<small>C</small>
				<!-- <br>
				<span class="sub-text">
					With rain
				</span> -->

			</div>
		</div>
		
		<div class="task_wrapper">
			<div class="task_section">
				<div class="task" >
					<ion-row text-center>
						<ion-col col-auto text-lg-start class="border-right padding-right" padding-right>
							<ion-icon name="notifications" text-lg text-primary></ion-icon>
						</ion-col>
						<ion-col>
							Water veggies in nursery
						</ion-col>
						<ion-col text-right col-auto class="border-left" padding-left>
							<ion-icon name="checkmark" text-lg></ion-icon>
						</ion-col>
					</ion-row>
				</div>
			</div>
		</div>


		<div class="bottom-sec" padding>
			<div padding>
				<h4 class="text-muted tline">Upcoming</h4>
				<div class="group-block">
					<a class="w-inline-block" data-load="1">
						<div class="group-tag bg-primary">
							<ion-row>
								<span style="display: flex; justify-content: center; align-items: center; font-size: 1.5em"><ion-icon name="ios-notifications-outline" text-lg></ion-icon></span>
								<ion-col>									
									Tomorrow
								</ion-col>
								<ion-col>
									7:00 AM
								</ion-col>
							</ion-row>
						</div>
						<div class="group-title">
							Don't forget to water the veggies by 7 AM tomorrow
						</div>
					</a>
				</div>
				<div class="group-block">
					<a class="w-inline-block" data-load="1">
						<div class="group-tag bg-primary">
							<ion-row>
								<span style="display: flex; justify-content: center; align-items: center; font-size: 1.5em"><ion-icon name="ios-notifications-outline" text-lg></ion-icon></span>
								<ion-col>									
									Tomorrow
								</ion-col>
								<ion-col>
									7:00 AM
								</ion-col>
							</ion-row>
						</div>
						<div class="group-title">
							Don't forget to water the veggies by 7 AM tomorrow
						</div>
					</a>
				</div>
				<div class="group-block">
					<a class="w-inline-block" data-load="1">
						<div class="group-tag bg-primary">
							<ion-row>
								<span style="display: flex; justify-content: middle; align-items: center; font-size: 1.5em"><ion-icon name="ios-notifications-outline" text-lg></ion-icon></span>
								<ion-col>									
									Tomorrow
								</ion-col>
								<ion-col>
									7:00 AM
								</ion-col>
							</ion-row>
						</div>
						<div class="group-title">
							Don't forget to water the veggies by 7 AM tomorrow
						</div>
					</a>
				</div>
			</div>
			</div>
	</section>

</ion-content>