<ion-header>

  <ion-navbar>
    <ion-title>home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<section class="w-section mobile-wrapper">
            <div class="page-content bg-gradient" id="main-stack" data-scroll="0">
                <div class="body padding">
                    <div class="logo-login"></div>
                    <div class="bottom-section padding">
                        <div class="w-form">
                            <form id="submit-form" name="email-form" action="#" data-redirect="home.html">
                                <div>
                                    <label class="label-form light" for="email-field">USERNAME</label>
                                    <input class="w-input input-form light" id="email-field" type="email" name="email" value="david.smith@gmail.com" data-name="email" required="required">
                                    <div class="separator-fields"></div>
                                </div>
                                <div>
                                    <label class="label-form light" for="email">PASSWORD</label>
                                    <div class="block-input-combined">
                                        <input class="w-input input-form light left" id="password-field" type="password" value="password" name="password" data-name="password" required="required">
                                        <a class="right-input-link" href="forgot.html" data-load="1">Forgot Password</a>
                                    </div>
                                    <div class="separator-button-input"></div>
                                </div>
                                <input class="w-button action-button" type="submit" value="Sign In" data-wait="Please wait...">
                                <div class="separator-button"></div>
                                <a class="link-upper" href="signup.html" data-load="1">
                                    Don't have an account? <strong class="b-link">Sign Up</strong>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="page-content loading-mask" id="new-stack">
                <div class="loading-icon">
                    <div class="navbar-button-icon icon ion-load-d"></div>
                </div>
            </div> -->
        </section>
</ion-content>
