<ion-header>

  <ion-navbar>
    <ion-title>cropReminder</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<button color="secondary" block class="w-button" (click)="back()">Back</button>
</ion-content>
