<ion-header>  
  <!-- <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar> -->
  <div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1" menuToggle>
      <div class="w-container">
          <div class="wrapper-mask" data-ix="menu-mask"></div>
          <div class="navbar-title">{{ pageTitle }}</div>
          <div class="w-nav-button navbar-button left" id="menu-button" data-ix="hide-navbar-icons">
              <div class="navbar-button-icon home-icon">
                  <div class="bar-home-icon top"></div>
                  <div class="bar-home-icon middle"></div>
                  <div class="bar-home-icon bottom"></div>
              </div>
          </div>
      </div>
  </div>

</ion-header>

<ion-content>

  <!-- <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION1' | translate }}</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION2' | translate }}</ion-label>
        <ion-input formControlName="option2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION3' | translate }}</ion-label>
        <ion-select formControlName="option3">
          <ion-option value="1" checked="true">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
        </ion-select>
      </ion-item>

      <button ion-item [navPush]="subSettings" [navParams]="profileSettings">
        {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
    </ion-list>
  </form> -->

  <section class="w-section mobile-wrapper">
            <div class="page-content" id="main-stack">
                <!-- <div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
                    <div class="w-container">
                        <nav class="w-nav-menu nav-menu bg-gradient" role="navigation">
                            <div class="nav-menu-header">
                                <div class="logo">Manhattan</div>
                            </div>
                            <a class="w-clearfix w-inline-block nav-menu-link" href="home.html" data-load="1">
                                <div class="icon-list-menu">
                                    <div class="icon ion-ios-home-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Home Page</div>
                            </a>
                            <a class="w-clearfix w-inline-block nav-menu-link" href="features.html" data-load="1">
                                <div class="icon-list-menu">
                                    <div class="icon ion-ios-box-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Features</div>
                                <div class="nav-menu-text-right">6</div>
                            </a>
                            <a class="w-clearfix w-inline-block nav-menu-link" href="calendar.html" data-load="1">
                                <div class="icon-list-menu">
                                    <div class="icon ion-ios-calendar-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Calendar</div>
                            </a>
                            <div class="w-dropdown dropdown-container" data-delay="0">
                                <div class="w-dropdown-toggle w-clearfix nav-menu-link dropdown">
                                    <div class="icon-list-menu">
                                        <div class="icon ion-ios-home-outline"></div>
                                    </div>
                                    <div class="nav-menu-titles">App Interface</div>
                                    <div class="w-icon-dropdown-toggle dropdown-icon"></div>
                                </div>
                                <nav class="w-dropdown-list drop-down-list">
                                    <a class="w-clearfix w-inline-block nav-menu-link" href="splash.html" data-load="1">
                                        <div class="icon-list-menu">
                                            <div class="icon ion-ios-home-outline"></div>
                                        </div>
                                        <div class="nav-menu-titles">Splash Screen</div>
                                    </a>
                                    <a class="w-clearfix w-inline-block nav-menu-link" href="login.html" data-load="1">
                                        <div class="icon-list-menu">
                                            <div class="icon ion-ios-download-outline"></div>
                                        </div>
                                        <div class="nav-menu-titles">Login</div>
                                    </a>
                                    <a class="w-clearfix w-inline-block nav-menu-link" href="signup.html" data-load="1">
                                        <div class="icon-list-menu">
                                            <div class="icon ion-ios-cloud-upload-outline"></div>
                                        </div>
                                        <div class="nav-menu-titles">Sign Up</div>
                                    </a>
                                    <a class="w-clearfix w-inline-block nav-menu-link" href="forgot.html" data-load="1">
                                        <div class="icon-list-menu">
                                            <div class="icon ion-ios-unlocked-outline"></div>
                                        </div>
                                        <div class="nav-menu-titles">Remember Password</div>
                                    </a>
                                    <a class="w-clearfix w-inline-block nav-menu-link" href="messages.html" data-load="1">
                                        <div class="icon-list-menu">
                                            <div class="icon ion-ios-albums-outline"></div>
                                        </div>
                                        <div class="nav-menu-titles">Messages</div>
                                        <div class="nav-menu-text-right">3</div>
                                    </a>
                                    <a class="w-clearfix w-inline-block nav-menu-link" href="chat.html" data-load="1">
                                        <div class="icon-list-menu">
                                            <div class="icon ion-ios-chatboxes-outline"></div>
                                        </div>
                                        <div class="nav-menu-titles">Chat</div>
                                    </a>
                                    <a class="w-clearfix w-inline-block nav-menu-link" href="about-us.html" data-load="1">
                                        <div class="icon-list-menu">
                                            <div class="icon ion-ios-person-outline"></div>
                                        </div>
                                        <div class="nav-menu-titles">About the App</div>
                                    </a>
                                </nav>
                            </div>
                            <a class="w-clearfix w-inline-block nav-menu-link" href="gallery.html" data-load="1">
                                <div class="icon-list-menu">
                                    <div class="icon ion-ios-camera-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Gallery</div>
                            </a>
                            <a class="w-clearfix w-inline-block nav-menu-link" href="portfolio.html" data-load="1">
                                <div class="icon-list-menu">
                                    <div class="ion-ios-folder-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Portfolio</div>
                                <div class="nav-menu-text-right">8</div>
                            </a>
                            <a class="w-clearfix w-inline-block nav-menu-link" href="videos.html" data-load="1">
                                <div class="icon-list-menu">
                                    <div class="icon ion-ios-film-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Videos</div>
                            </a>
                            <div class="w-dropdown dropdown-container" data-delay="0">
                                <div class="w-dropdown-toggle w-clearfix nav-menu-link dropdown">
                                    <div class="icon-list-menu">
                                        <div class="icon ion-ios-home-outline"></div>
                                    </div>
                                    <div class="nav-menu-titles">Pages</div>
                                    <div class="w-icon-dropdown-toggle dropdown-icon"></div>
                                </div>
                                <nav class="w-dropdown-list drop-down-list">
                                    <a class="w-clearfix w-inline-block nav-menu-link" href="todo-list.html" data-load="1">
                                        <div class="icon-list-menu">
                                            <div class="icon ion-ios-list-outline"></div>
                                        </div>
                                        <div class="nav-menu-titles">To Do List</div>
                                        <div class="nav-menu-text-right">8</div>
                                    </a>
                                    <a class="w-clearfix w-inline-block nav-menu-link" href="addnew.html" data-load="1">
                                        <div class="icon-list-menu">
                                            <div class="icon ion-ios-checkmark-outline"></div>
                                        </div>
                                        <div class="nav-menu-titles">Create Task</div>
                                    </a>
                                    <a class="w-clearfix w-inline-block nav-menu-link" href="blog-post.html" data-load="1">
                                        <div class="icon-list-menu">
                                            <div class="icon ion-ios-compose-outline"></div>
                                        </div>
                                        <div class="nav-menu-titles">Blog Post</div>
                                    </a>
                                    <a class="w-clearfix w-inline-block nav-menu-link" href="groups.html" data-load="1">
                                        <div class="icon-list-menu">
                                            <div class="icon ion-ios-keypad-outline"></div>
                                        </div>
                                        <div class="nav-menu-titles">Categories</div>
                                        <div class="nav-menu-text-right">9</div>
                                    </a>
                                </nav>
                            </div>
                            <a class="w-clearfix w-inline-block nav-menu-link" href="news.html" data-load="1">
                                <div class="icon-list-menu">
                                    <div class="icon ion-ios-paper-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Blog</div>
                            </a>
                            <a class="w-clearfix w-inline-block nav-menu-link" href="maps.html" data-load="1">
                                <div class="icon-list-menu">
                                    <div class="icon ion-ios-location-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Maps</div>
                            </a>
                            <a class="w-clearfix w-inline-block nav-menu-link" href="contact.html" data-load="1">
                                <div class="icon-list-menu">
                                    <div class="icon ion-ios-at-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Contact</div>
                            </a>
                            <a class="w-clearfix w-inline-block nav-menu-link" href="social-media.html" data-load="1">
                                <div class="icon-list-menu">
                                    <div class="icon ion-social-facebook-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Social Media</div>
                                <div class="nav-menu-text-right">3</div>
                            </a>
                            <a class="w-clearfix w-inline-block nav-menu-link" href="settings.html" data-load="1">
                                <div class="icon-list-menu">
                                    <div class="icon ion-ios-gear-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Settings</div>
                            </a>
                            <a class="w-clearfix w-inline-block nav-menu-link last" href="terms.html" data-load="1">
                                <div class="icon-list-menu">
                                    <div class="icon ion-ios-bookmarks-outline"></div>
                                </div>
                                <div class="nav-menu-titles">Terms and Conditions</div>
                            </a>
                            <div class="separator-bottom"></div>
                            <div class="separator-bottom"></div>
                            <div class="separator-bottom"></div>
                        </nav>
                        <div class="wrapper-mask" data-ix="menu-mask"></div>
                        <div class="navbar-title">Settings</div>
                        <div class="w-nav-button navbar-button left" id="menu-button" data-ix="hide-navbar-icons">
                            <div class="navbar-button-icon home-icon">
                                <div class="bar-home-icon top"></div>
                                <div class="bar-home-icon middle"></div>
                                <div class="bar-home-icon bottom"></div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="body padding">
                    <div class="w-form">
                        <form id="email-form" name="email-form" action="#">
                            <div class="separator-button-input"></div>
                            <div>
                                <label class="label-form" for="full-name-field">FULL NAME</label>
                                <input class="w-input input-form" id="full-name-field" value="David Smith" type="text" name="full-name" data-name="full-name" required="required">
                                <div class="separator-fields"></div>
                            </div>
                            <div>
                                <label class="label-form" for="email-field">EMAIL</label>
                                <input class="w-input input-form" id="email-field" value="david.smith@gmail.com" type="email" name="email" data-name="email" required="required">
                                <div class="separator-fields"></div>
                            </div>
                            <div>
                                <label class="label-form" for="password-ield">PASSWORD</label>
                                <input class="w-input input-form" id="password-ield" value="password" type="password" name="password" data-name="password" required="required">
                                <div class="separator-fields"></div>
                            </div>
                            <div>
                                <label class="label-form" for="field">BIRTHDAY</label>
                                <input class="w-input input-form" id="birthday-field" value="12 Apr 1985" type="text" name="birthday" data-name="birthday" required="required">
                                <div class="separator-fields"></div>
                            </div>
                            <div>
                                <label class="label-form" for="node-10">FOOTBALL &nbsp;TEAM</label>
                                <div class="separator-fields"></div>
                                <select class="w-select input-form select" id="node-10">
                                    <option value="">Select one...</option>
                                    <option value="F.C. Barcelona" selected="selected">F.C. Barcelona</option>
                                    <option value="Manchester United">Manchester United</option>
                                    <option value="Real Madrid">Real Madrid</option>
                                </select>
                            </div>
                            <div class="separator-fields"></div>
                            <div>
                                <div class="w-clearfix input-form one-line">
                                    <label class="label-form middle" for="email">GENDER</label>
                                    <div class="w-clearfix radios-container">
                                        <div class="w-radio w-clearfix radio-button">
                                            <div class="radio-bullet-replacement"></div>
                                            <input class="w-radio-input radio-bullet" id="node" type="radio" name="Radio1" value="1" data-name="Radio1">
                                            <label class="w-form-label" for="node">Female</label>
                                        </div>
                                        <div class="w-radio w-clearfix radio-button">
                                            <div class="radio-bullet-replacement checked"></div>
                                            <input class="w-radio-input radio-bullet" id="node-2" type="radio" name="Radio1" value="0" data-name="Radio1">
                                            <label class="w-form-label" for="node-2">Male</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator-fields"></div>
                            </div>
                            <div>
                                <div class="w-clearfix input-form one-line">
                                    <label class="label-form middle" for="email">ALERTS AT</label>
                                    <div class="w-clearfix radios-container">
                                        <div class="w-radio w-clearfix radio-button">
                                            <div class="radio-bullet-replacement checked"></div>
                                            <input class="w-radio-input radio-bullet" id="node-4" type="radio" name="Radio2" value="1" data-name="Radio2">
                                            <label class="w-form-label" for="node-4">Evening</label>
                                        </div>
                                        <div class="w-radio w-clearfix radio-button">
                                            <div class="radio-bullet-replacement"></div>
                                            <input class="w-radio-input radio-bullet" id="node-3" type="radio" name="Radio2" value="0" data-name="Radio2">
                                            <label class="w-form-label" for="node-3">Morning</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator-fields"></div>
                            </div>
                            <div>
                                <div class="w-clearfix input-form one-line">
                                    <label class="label-form middle" for="email">ACTIVITY</label>
                                    <div class="w-clearfix radios-container">
                                        <div class="w-radio w-clearfix radio-button">
                                            <div class="radio-bullet-replacement"></div>
                                            <input class="w-radio-input radio-bullet" id="node-9" type="radio" name="Radio3" value="2" data-name="Radio3">
                                            <label class="w-form-label" for="node-9">High</label>
                                        </div>
                                        <div class="w-radio w-clearfix radio-button">
                                            <div class="radio-bullet-replacement checked"></div>
                                            <input class="w-radio-input radio-bullet" id="node-6" type="radio" name="Radio3" value="1" data-name="Radio3">
                                            <label class="w-form-label" for="node-6">Mid</label>
                                        </div>
                                        <div class="w-radio w-clearfix radio-button">
                                            <div class="radio-bullet-replacement"></div>
                                            <input class="w-radio-input radio-bullet" id="node-5" type="radio" name="Radio3" value="0" data-name="Radio3">
                                            <label class="w-form-label" for="node-5">Low</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator-fields"></div>
                            </div>
                            <div>
                                <div class="w-clearfix input-form one-line">
                                    <label class="label-form middle" for="email">NOTIFICATIONS</label>
                                    <div class="w-clearfix radios-container">
                                        <div class="w-checkbox w-clearfix checkbox-field">
                                            <div class="checkbox-handle"></div>
                                            <input class="w-checkbox-input checkbox-input" id="checkbox" type="checkbox" name="checkbox" data-name="Checkbox">
                                            <label class="w-form-label checkbox-label" for="checkbox"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator-fields"></div>
                            </div>
                            <div>
                                <div class="w-clearfix input-form one-line last">
                                    <label class="label-form middle" for="email">UPDATES</label>
                                    <div class="w-clearfix radios-container">
                                        <div class="w-checkbox w-clearfix checkbox-field">
                                            <div class="checkbox-handle checked"></div>
                                            <input class="w-checkbox-input checkbox-input" id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" checked="checked">
                                            <label class="w-form-label checkbox-label checked" for="checkbox-2"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator-fields"></div>
                            </div>
                        </form>
                        <div class="w-form-done">
                            <p>Thank you! Your submission has been received!</p>
                        </div>
                        <div class="w-form-fail">
                            <p>Oops! Something went wrong while submitting the form</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="page-content loading-mask" id="new-stack">
                <div class="loading-icon">
                    <div class="navbar-button-icon icon ion-load-d"></div>
                </div>
            </div> -->
        </section>

</ion-content>
