<!-- <ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <!-- <form (submit)="doSignup()">
    <ion-list>

      <ion-item>
        <ion-label fixed>{{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>

      
      Want to add a Username? Here you go:

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>
      

      <ion-item>
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>{{ 'SIGNUP_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form> -->

  <section class="w-section mobile-wrapper">
            <div class="page-content bg-gradient" id="main-stack" data-scroll="0">
                <div class="w-nav navbar transparent" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
                    <div class="w-container">
                        <div class="wrapper-mask" data-ix="menu-mask"></div>
                        <div class="navbar-title">Sign Up</div>
                    </div>
                </div>
                <div class="body padding">
                    <div class="logo-login smaller" style="margin-top: 30px;"></div>
                    <div class="bottom-section padding">
                        <div class="w-form">
                            <form id="submit-form" name="email-form" action="#" data-redirect="home.html">
                                <div>
                                    <label class="label-form light" for="full-name-field">FULL NAME</label>
                                    <input class="w-input input-form light" id="full-name-field" type="text" name="full-name" data-name="full-name" value="David Smith" required="required">
                                    <div class="separator-fields"></div>
                                </div>
                                <div>
                                    <label class="label-form light" for="email-field">EMAIL</label>
                                    <input class="w-input input-form light" value="david.smith@gmail.com" id="email-field" type="email" name="email" data-name="email" required="required">
                                    <div class="separator-fields"></div>
                                </div>
                                <div>
                                    <label class="label-form light" for="password-ield">PASSWORD</label>
                                    <input class="w-input input-form light" value="password" id="password-ield" type="password" name="password" data-name="password" required="required">
                                    <div class="separator-fields"></div>
                                </div>
                                <div>
                                    <label class="label-form light" for="birthday-field">PHONE</label>
                                    <input class="w-input input-form light" value="12 Apr 1985" id="birthday-field" type="number" name="phone"  required="required">
                                </div>
                                <div class="separator-button-input"></div>
                                <input class="w-button action-button" type="submit" value="Sign Up" data-wait="Please wait...">
                                <div class="separator-button"></div>
                                <a class="link-upper" href="login.html" data-load="1">
                                    Already have an account? <strong class="b-link">Sign in</strong>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </section>
</ion-content>
